@*@model IEnumerable<Kieru.Models.Secret>*@
@model Kieru.Models.Secret

@{
    ViewData["Title"] = "Index";
}

<div class="bg-faded-sub">
    <div>
        <h2 class="display-4 text-lg-center">What's your secret?</h2>
    </div>
</div>

<br />

<div class="container body-content">
    <form asp-controller="Secrets" asp-action="Details" method="post">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon"><label asp-for="Id"></label></span>
                    <input asp-for="Id" class="form-control lookup" placeholder="12345678-90ab-cdef-ghij-klmnopqrstuv" />
                </div>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Find" class="btn btn-default" />
            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Phrase)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Phrase)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
